<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>


<%= link_to 'Edit', edit_list_task_path(@list, @task) %> |
<%= link_to 'Back', list_tasks_path(@list) %>
